In [1]:
pip install dropbox

Collecting dropbox
  Downloading https://files.pythonhosted.org/packages/0c/12/8abc91fc7cc78c0c16a57f301b6f9e12136725a9ab5ea29d17d59ae0dfb4/dropbox-11.19.0-py3-none-any.whl (575kB)
Requirement already satisfied: requests>=2.16.2 in c:\users\user\anaconda3\lib\site-packages (from dropbox) (2.22.0)
Collecting stone>=2.* (from dropbox)
  Downloading https://files.pythonhosted.org/packages/b3/26/334b76000f0c09a61afb23c948d2f085bd4247cb30b252211e3af5833eae/stone-3.2.1-py3-none-any.whl (160kB)
Requirement already satisfied: six>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from dropbox) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.16.2->dropbox) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.16.2->dropbox) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.16.2->dropbox) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.16.2->dropbox) (3.0.4)
Requirement already satisfied: ply>=3.4 in c:\users\user\anaconda3\lib\site-packages (from stone>=2.*->dropbox) (3.11)
Installing collected packages: stone, dropbox
Successfully installed dropbox-11.19.0 stone-3.2.1
Note: you may need to restart the kernel to use updated packages.

In [21]:
import dropbox

In [44]:
dbx = dropbox.Dropbox('sl.A4M3qRfqq_K-z0jssKM8JBe-M6rEIMtOnQ3QN2XgaMc1B9tDMnnQfKqLer7EeGXuPbGkRWL9bSLsob2Gm0VRD5hKXqldE5w-oHwtEDkXyWzm7dcoh09NkHcTiqycImh7oGnUeK-xpjjw')

In [45]:
dbx.users_get_current_account()

FullAccount(account_id='dbid:AAAklmuhP3snRPbmJR3BEP-mZ_YWMpGB8K8', account_type=AccountType('basic', None), country='TH', disabled=False, email='do.suwatsara_st@tni.ac.th', email_verified=True, is_paired=False, locale='en', name=Name(abbreviated_name='SD', display_name='suwatsara donkhunthod', familiar_name='suwatsara', given_name='suwatsara', surname='donkhunthod'), profile_photo_url='https://dl-web.dropbox.com/account_photo/get/dbaphid%3AAAAbM5oVJ_OQaZlRmpWnjDXMVaYT45zSg-g?size=128x128&vers=1631238287980', referral_link='https://www.dropbox.com/referrals/AADxAGOG-DED3Ph0tA2ze5WmEb6Q1_pPApA?src=app9-1965473', root_info=UserRootInfo(home_namespace_id='1971307393', root_namespace_id='1971307393'), team=NOT_SET, team_member_id=NOT_SET)

In [46]:
for entry in dbx.files_list_folder('').entries:
    print(entry.name)

Documents

In [48]:
access_token = 'sl.A4M3qRfqq_K-z0jssKM8JBe-M6rEIMtOnQ3QN2XgaMc1B9tDMnnQfKqLer7EeGXuPbGkRWL9bSLsob2Gm0VRD5hKXqldE5w-oHwtEDkXyWzm7dcoh09NkHcTiqycImh7oGnUeK-xpjjw'
file_from = 'Pictures/69400.jpg' 
file_to = '/Documents/69400.jpg'     
def upload_file(file_from, file_to):
    dbx = dropbox.Dropbox(access_token)
    f = open(file_from, 'rb')
    dbx.files_upload(f.read(), file_to)
upload_file(file_from,file_to)

In [49]:
print(dbx.files_get_metadata('/Documents/69400.jpg').server_modified)

2021-09-10 02:27:53

In [50]:
pip install settrade

Collecting settrade
  Downloading https://files.pythonhosted.org/packages/9f/a4/a6868d7736ea5f689e7d62f5ebcfad082f6cfc5bcf612452778ed36a0101/settrade-0.4.1.tar.gz (88.0MB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from settrade) (1.21.2)
Building wheels for collected packages: settrade
  Building wheel for settrade (setup.py): started
  Building wheel for settrade (setup.py): finished with status 'done'
  Created wheel for settrade: filename=settrade-0.4.1-cp37-none-any.whl size=4588821 sha256=40279a4bb7c0bbfef645818beba97f16c38d0b4c9f0715b4c69cbf06ac543fed
  Stored in directory: C:\Users\User\AppData\Local\pip\Cache\wheels\ee\de\c8\811085da9ac8e62c4d994383fa5c7b55a074534a36efb89b8d
Successfully built settrade
Installing collected packages: settrade
Successfully installed settrade-0.4.1
Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install requests

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests

In [2]:
response = requests.get("https://datausa.io/api/data?drilldowns=Nation&measures=Population")

In [3]:
print(response.status_code)

200

In [4]:
print(response.json())

{'data': [{'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2019, 'Year': '2019', 'Population': 328239523, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2018, 'Year': '2018', 'Population': 327167439, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2017, 'Year': '2017', 'Population': 325719178, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2016, 'Year': '2016', 'Population': 323127515, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2015, 'Year': '2015', 'Population': 321418821, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2014, 'Year': '2014', 'Population': 318857056, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2013, 'Year': '2013', 'Population': 316128839, 'Slug Nation': 'united-states'}], 'source': [{'measures': ['Population'], 'annotations': {'source_name': 'Census Bureau', 'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.', 'dataset_name': 'ACS 1-year Estimate', 'dataset_link': 'http://www.census.gov/programs-surveys/acs/', 'table_id': 'B01003', 'topic': 'Diversity', 'subtopic': 'Demographics'}, 'name': 'acs_yg_total_population_1', 'substitutions': []}]}

In [10]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

jprint(response.json())

{
    "data": [
        {
            "ID Nation": "01000US",
            "ID Year": 2019,
            "Nation": "United States",
            "Population": 328239523,
            "Slug Nation": "united-states",
            "Year": "2019"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2018,
            "Nation": "United States",
            "Population": 327167439,
            "Slug Nation": "united-states",
            "Year": "2018"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2017,
            "Nation": "United States",
            "Population": 325719178,
            "Slug Nation": "united-states",
            "Year": "2017"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2016,
            "Nation": "United States",
            "Population": 323127515,
            "Slug Nation": "united-states",
            "Year": "2016"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2015,
            "Nation": "United States",
            "Population": 321418821,
            "Slug Nation": "united-states",
            "Year": "2015"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2014,
            "Nation": "United States",
            "Population": 318857056,
            "Slug Nation": "united-states",
            "Year": "2014"
        },
        {
            "ID Nation": "01000US",
            "ID Year": 2013,
            "Nation": "United States",
            "Population": 316128839,
            "Slug Nation": "united-states",
            "Year": "2013"
        }
    ],
    "source": [
        {
            "annotations": {
                "dataset_link": "http://www.census.gov/programs-surveys/acs/",
                "dataset_name": "ACS 1-year Estimate",
                "source_description": "The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.",
                "source_name": "Census Bureau",
                "subtopic": "Demographics",
                "table_id": "B01003",
                "topic": "Diversity"
            },
            "measures": [
                "Population"
            ],
            "name": "acs_yg_total_population_1",
            "substitutions": []
        }
    ]
}

In [11]:
with open('datausa.json','w') as f:
    json.dump(response.json(),f)

In [28]:
import pandas as pd
with open('datausa.json') as json_data:
    data = json.load(json_data)

data = data['data']

In [29]:
data

[{'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2019,
  'Year': '2019',
  'Population': 328239523,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2018,
  'Year': '2018',
  'Population': 327167439,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2017,
  'Year': '2017',
  'Population': 325719178,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2016,
  'Year': '2016',
  'Population': 323127515,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2015,
  'Year': '2015',
  'Population': 321418821,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2014,
  'Year': '2014',
  'Population': 318857056,
  'Slug Nation': 'united-states'},
 {'ID Nation': '01000US',
  'Nation': 'United States',
  'ID Year': 2013,
  'Year': '2013',
  'Population': 316128839,
  'Slug Nation': 'united-states'}]

In [44]:
df = pd.DataFrame(data)

In [45]:
df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2019  2019   328239523  united-states
1   01000US  United States     2018  2018   327167439  united-states
2   01000US  United States     2017  2017   325719178  united-states
3   01000US  United States     2016  2016   323127515  united-states
4   01000US  United States     2015  2015   321418821  united-states

In [46]:
df.columns

Index(['ID Nation', 'Nation', 'ID Year', 'Year', 'Population', 'Slug Nation'], dtype='object')

In [47]:
df.drop(columns=['ID Year', 'Slug Nation'], inplace= True)

In [48]:
df.head()

  ID Nation         Nation  Year  Population
0   01000US  United States  2019   328239523
1   01000US  United States  2018   327167439
2   01000US  United States  2017   325719178
3   01000US  United States  2016   323127515
4   01000US  United States  2015   321418821